<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='setting.json') }}"></script>
        <script src="{{ url_for('static', filename='secret.json') }}"></script>
        {% block script %}{% endblock %}
        <style>
            body {
                background: black;
                margin: 0;
                padding: 0;
                width: 1280px;
                height: 400px;
            }
        </style>
    </head>
    {% block body %}{% endblock %}
</html>
