body {
    background: black;
    margin: 0;
    padding: 0;
    width: 1280px;
    height: 400px;

    /* prevent text selection of an element */
    -youbkit-user-select: none;
}

.clock {
    position: absolute;
    top: 200px;
    left: 640px;
    transform: translateX(-50%) translateY(-50%);
    color: white;
    font-size: 100px;
    font-family: 'Digital-7 Mono';
    letter-spacing: 5px;
}

/* diable selection hightlighting */
::selection {
    color: none;
    background: none;
}
