body {
    background: black;
    height: 100%;
    margin: 0;
    padding: 0;
}

.clock {
    position: absolute;
    top: 200px;
    left: 640px;
    transform: translateX(-50%) translateY(-50%);
    color: white;
    font-size: 100px;
    font-family: Orbitron;
    letter-spacing: 8px;
}
