body {
    background: black;
    margin: 0;
    padding: 0;
    width: 1280px;
    height: 400px;
}

.clock {
    position: absolute;
    top: 200px;
    left: 640px;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 170px;
    font-family: 'IBM Plex Mono';
    letter-spacing: -5px;
    -webkit-text-stroke: 1px black;
    z-index: 100;
}

.date {
    position: absolute;
    left: 640px;
    top: 310px;
    transform: translate(-50%, -50%);
    font-family: 'Fugaz One';
    color: white;
    font-size: 40px;
    z-index: 100;
}

.weather {
    position: absolute;
    top: 40px;
    left: 60px;
    z-index: 100;
}

.temperature {
    position: relative;
    top: 0;
    left: 0;
    font-family: 'Fugaz One';
    color: white;
    font-size: 40px;
    float: left;
}

.weather-icon {
    position: relative;
    top: 4px;
    left: 15px;
    color: white;
    font-size: 47px;
    float: left;
}

.horizon {
    position: absolute;
    height: 199px;
    width: 1280px;
    border-bottom: 2px dashed white;
    opacity: 0.5;
    z-index: 50;
}

.sun {
    position: absolute;
    top: 0;
    left: 0;
    color: yellow;
}

.sun-angle {
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 80px;
    z-index: 90;
}

.sun-angle-background {
    position: absolute;
    transform: translate(-50%, -50%);
    background: black;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    z-index: 70;
}

.sun-path {
    z-index: 60;
}

.moon {
    position: absolute;
    top: 0;
    left: 0;
    color: blue;
}

.moon-angle {
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 80px;
    z-index: 85;
}

.moon-angle-background {
    position: absolute;
    transform: translate(-50%, -50%);
    background: black;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    z-index: 70;
}

.moon-path {
    z-index: 60;
}

/* diable selection hightlighting */
::selection {
    background: none;
}
